.interact {
	position: absolute;
	bottom: 20;
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.loader {
	position: absolute;
	background-color: #000;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader-text {
	color: #fff;
}

.sidetext {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20%;
	right: 0;
	padding-left: 100px;
	padding-right: 50px;
	color: white;
	line-height: 2;
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 1) 100%);
}
.sidetext-title {
	line-height: 1.5;
	font-weight: normal;
}
.sidetext-description {
	height: 70%;
}
.sidetext-copyright {
	font-size: 0.7em;
	/* font-weight: 400; */
}
.sidetext-instruction {
	font-size: 1.5em;
	text-align: center;
}

.isHidden {
	display: none !important;
}

.controls {
	position: absolute;
	left: 16px;
	bottom: 8px;
	display: flex;
	direction: row;
}
.controls-movement {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
	min-height: 200px;
	max-width: 40vw;
	max-height: 40vw;
	/* height: 60vw; */
	justify-content: space-between;
}

.controls-space-between {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.controls-movement-button {
	all: unset;
	cursor: pointer;
	background-color: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.controls-interact {
	/* margin: auto 0;	 */
	margin-left: 36px;
}

.controls-interact-button {
	all: unset;
	cursor: pointer;
	background-color: #fff;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.key {
	border: 1px solid #fff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 0.8em;
	margin-right: 4px;
}
